*.o
*.d
build/
build-rv32/
build-m33/
build-hazard3/
build-esp32p4/
tests/rv32/embed/
tests/rv32/fw.elf
tests/rv32/*.log
tests/rp2350-arm/embed/
tests/rp2350-arm/fw.elf
tests/rp2350-arm/*.log
tests/rp2350-riscv/embed/
tests/rp2350-riscv/fw.elf
tests/rp2350-riscv/*.log
tests/esp32p4/embed/
tests/esp32p4/fw.elf
tests/esp32p4/*.log
contrib/esp32p4/smoke_test.elf
